output/**
*.class
*~
*.iml
*/.idea/**
.idea/**
.idea
*/.classpath
.classpath
*/.project
.project
.DS_Store
.cache/**
target/
build/
**/dependency-reduced-pom.xml
**/build
**/target
**/Californium.properties
files/**
/logs